body {
	margin: 0px;
	scroll-behavior: smooth;
}
header {font-family: 'Allerta Stencil', sans-serif;
text-align: center;}


nav ul li { 
	display: inline-block; 
	padding: 10px;
	border-right: 10px;
	margin: 0px auto;
	text-transform: uppercase;
	text-align: center;
	list-style-type: none;
} 

a.navbar-brand:hover {opacity:  0.5;
 	transition: opacity .5s ease-in-out;}

li.unactive a {color: whitesmoke;}
li.active a { color: dimgrey; }
li.breadcrumb-item a {color: ghostwhite;
}
li.breadcrumb-item a:hover { color: #d9d9d9; }

li a.whitelink { text-decoration: none; }
li a.whitelink:hover { color: lightgoldenrodyellow; }

div,a.link {color: black;}
a.link:hover {color: red;
text-decoration: none;}



section.row-morepadding {
	display: flex;
	flex:  1 0 0%;
	flex-direction:  column; }

h3.card-title { font-family: 'Allerta Stencil', sans-serif; }
h3,p.card-text-aboutus { color: whitesmoke; font-family: 'Poiret One', cursive; 
font-size: x-large;}

h4.card-title {font-family: 'Bebas Neue', cursive; font-size: xx-large;}
h4,p.card-text-doc { font-family: 'Space Grotesk', sans-serif;
font-size: large;}
p {font-size: medium;}

p.card-text-info {color: whitesmoke; font-family: 'Poiret One', cursive; font-size: medium;}

h5.card-title { font-family: 'Allerta Stencil', sans-serif; 
text-align: center;}
p.card-text { font-family: 'Poiret One', cursive; 
text-align: center;}

h6.card-title { font-family: 'Water Brush', cursive;}
{ text-decoration: none; }
h6,p.card-text { font-family: 'Poiret One', cursive; 
text-align: center; }

div.title { color: whitesmoke; font-family: 'Allerta Stencil', sans-serif; }

footer { font-family: 'Allerta Stencil', sans-serif; }


@media screen and (max-width: 800px) {
	img.foto {max-width: 85%;}}

@media screen and (max-width: 800px) {
	div.card {max-width: 100%;
		font-size: small;}}

@media screen and (max-width: 800px) {
  div.row {
    flex-direction: column;
    align-content: center;
}}

@media screen and (max-width: 800px) {
 img.foto { display: block; margin: auto;
}}


@media screen and (max-width: 800px) {
  p.card-text-info {
    text-align: center;
}}

@media screen and (max-width: 800px) {
  a.btn {
    flex-direction: column;
    align-content: center;
}}



